.auth-tip {
    color: red;
    font-size: 50px;
}
.auth-forbidden {
    background: #fdebec;
    border-radius: 4px;
    color: #ee4040;
    font-size: 12px;
    padding: 0 10px;
    margin-top: 10px;
}
.auth-freeze {
    background: #fbf5ea;
    border-radius: 4px;
    color: #e9a923;
    font-size: 12px;
    margin-top: 15px;
    line-height: 100%;
}
