.contractTip-container {
    width: calc(100% - 30px);
    height: 28px;
    border-radius: 4px;
}
.contractTip-container2 {
    width: calc(100% - 30px);
    height: 28px;
    border-radius: 4px;
    .contractTip-div1 {
        color: rgb(122, 134, 154);
        font-size: 12px;
        font-weight: 600;
    }
    .contractTip-div2 {
        height: 28px;
        border-radius: 4px;
        margin: 0 10px;

        i {
            color: #999999 !important;
        }
    }
    .contractTip-div3 {
        height: 18px;
        font-size: 12px;
        font-weight: 400;
        color: #999999;
        line-height: 18px;
    }
}
