.freelog-pay {
    .ant-modal-title {
        font-size: 18px !important;
        font-family:
            PingFangSC-Semibold,
            PingFang SC;
        font-weight: 600 !important;
        color: #222222 !important;
        line-height: 42px !important;
        text-align: center;
    }

    .ant-modal-body {
        padding: 0 !important;
    }

    .ant-modal-content {
        background: #ffffff !important;
        border-radius: 10px !important;
    }

    .ant-modal-header {
        height: 75px !important;
        border-radius: 10px 10px 0 0 !important;
    }
    .left-item {
        margin-top: 14px;
        margin-right: 30px;
        font-size: 14px;
        font-weight: 400;
        color: #222222;
        line-height: 20px;
    }
    .right-item {
        margin-top: 14px;
        font-size: 14px;
        font-weight: 600;
        color: #222222;
        line-height: 20px;
    }
    .forgot-password {
        width: 72px;
        height: 18px;
        font-size: 12px;
        font-weight: 400;
        color: #999999;
        margin: 20px 0 40px 0;
        line-height: 18px;
        &:hover {
            color: #2784ff !important;
        }
    }
    pay-input {
        caret-color: transparent;
        margin: 0 10px !important;
        box-sizing: border-box;
        text-align: center;

        outline: none;
        &:focus {
            border: 1px solid #2784ff !important;
        }
    }
}
