 .adm-tabs-tab {
   font-size: 14px !important;
   font-weight: 400;
   color: #222222;
   line-height: 18px;
 }

 .adm-button {
   line-height: normal !important;
 }


 .am-modal {
   width: 335px !important;
   height: 100%;
 }

 .am-modal-content {
   border-radius: 0px 10px 10px 0px;
 }





 .common-input {
   padding: 2px 10px;
   height: 48px;
   box-sizing: border-box;
   background: #ffffff;
   border-radius: 4px;
   border: 1px solid #d4d4d4;
 }

 .modal-tip {
   .loading {
     border: none !important;
     font-size: 20px;
     font-weight: 400;
     color: #2784FF;

     &::before {
       border: none !important;
     }
   }
 }