.freelog-pay {
  .ant-modal-title {
    font-size: 18px !important;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600 !important;
    color: #222222 !important;
    line-height: 42px !important;
    text-align: center;
  }

  .ant-modal-body {
    padding: 0 !important;
  }

  .ant-modal-content {
    background: #ffffff !important;
    border-radius: 10px !important;
  }

  .ant-modal-header {
    height: 75px !important;
    border-radius: 10px 10px 0 0 !important;
  }
}