// b: border
.b-1 {
  border: 1px solid #d9d9d9 !important;
}

.bx-1 {
  border-left: 1px solid #d9d9d9 !important;
  border-right: 1px solid #d9d9d9 !important;
}
.bb-1 {
  border-bottom: 1px solid #d9d9d9 !important;
}
.bt-1 {
  border-top: 1px solid #d9d9d9 !important;
}

.by-1 {
  border-top: 1px solid #d9d9d9 !important;
  border-bottom: 1px solid #d9d9d9 !important;
}

// br: border-radius
.br-samll {
  border-radius: 4px;
}

.br-middle {
  border-radius: 6px;
}

.br-large {
  border-radius: 19px;
}

.br-bottom {
  border-radius: 0px 0px 4px 4px;
}

.br-top {
  border-radius: 4px 4px 0px 0px;
}

.br-left {
  border-radius: 4px 0px 0px 4px;
}

.br-right {
  border-radius: 0px 4px 4px 0px;
}

// bs: box-shadow
.bs-normal {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05)
}