.user-login {
    .login-title {
        font-size: 18px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
    }

    .logo {
        color: #2c2c2c;
        font-size: 52px;
    }

    .login-back {
        position: absolute;
        left: 20px;
        top: 15px;
        font-size: 20px;
        z-index: 13333;
    }

    .login-container {
        width: calc(100% - 60px);


        .registry {
            background-color: #EDF6FF;

            color: #2784FF;
        }

        .am-button-active {
            background-color: #b3cde7;
        }
    }

    .login-forgot {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #2784FF;
        justify-self: end;

        .am-button-active {
            color: #b3cde7 !important;
        }

        a {
            font-size: 14px !important;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400 !important;
            color: #2784FF;

            &::before {
                padding: 0 !important;
                border: none !important;
            }
        }
    }
}