#ui-root {
    .user-forgot {
        .adm-spin-loading {
            width: 18px;
            margin-right: 5px;
        }

        .adm-button {
            height: 48px !important;
            font-size: 16px;
        }

        input {
            font-size: 16px !important;
        }
        .s-input{
            border-radius: 0px 4px 4px 0px !important; 
        }
        .s-input-left{
            border-radius: 4px 0px 0px 4px !important;
            color: rgba(0, 0, 0, .25);
            background: #f5f5f5;
            border-right: none;
            cursor: not-allowed;
        }
        .forgot-back {
            position: absolute;
            left: 20px;
            top: 15px;
            font-size: 20px;
            z-index: 13333;
        }

        .forgot-title {
            font-size: 40px;
            font-family:
                PingFangSC-Semibold,
                PingFang SC;
            font-weight: 600;
            color: #222222;
        }

        .forgot-tip {
            font-size: 16px;
            font-family:
                PingFangSC-Regular,
                PingFang SC;
            font-weight: 400;
            color: #999999;
        }

        .logo {
            color: #2c2c2c;
            font-size: 52px;
        }

        .forgot-type {
            input {
                width: 16px;
                height: 16px;
            }

            label {
                font-size: 16px;
                font-family:
                    PingFangSC-Regular,
                    PingFang SC;
                font-weight: 400;
                color: #666666;
            }

            .selected {
                color: #2784ff;
            }
        }

        .forgot-container {
            width: calc(100% - 60px);

            .error-tip {
                font-size: 14px;
                font-family:
                    PingFangSC-Regular,
                    PingFang SC;
                font-weight: 400;
                color: #ee4040;
            }

            .am-button-active {
                background-color: #b3cde7;
            }
        }

        .forgot-bottom {
            font-size: 14px;
            font-family:
                PingFangSC-Regular,
                PingFang SC;
            font-weight: 400;
            color: #666666;

            .am-button-active {
                color: #b3cde7 !important;
            }

            button {
                font-size: 14px !important;
                font-family:
                    PingFangSC-Regular,
                    PingFang SC;
                font-weight: 400 !important;
                color: #2784ff;
                padding: 0 !important;
                border: 0 !important;

                &::before {
                    padding: 0 !important;
                    border: none !important;
                }
            }
        }
    }

    .forgot-success {
        i {
            font-size: 100px;
            color: #44c28c;
        }

        .success {
            font-size: 24px;
            font-family:
                PingFangSC-Regular,
                PingFang SC;
            font-weight: 400;
            color: #000000;
        }

        .count-back {
            font-size: 14px;
            font-family:
                PingFangSC-Regular,
                PingFang SC;
            font-weight: 400;
            color: #999999;
        }

        .back-login {
            font-size: 14px;
            font-family:
                PingFangSC-Regular,
                PingFang SC;
            font-weight: 400;
            color: #2784ff;
        }

        .am-button-active {
            color: #b3cde7 !important;
        }

        button {
            font-size: 14px !important;
            font-family:
                PingFangSC-Regular,
                PingFang SC;
            font-weight: 400 !important;
            color: #2784ff;
            padding: 5px 10px !important;

            &::before {
                padding: 0 !important;
                border: none !important;
            }
        }
    }

    .forgot-tip {
        .paying {
            .loading {
                border: none !important;
                font-size: 20px;
                font-family:
                    PingFangSC-Regular,
                    PingFang SC;
                font-weight: 400;
                color: #2784ff;

                &::before {
                    border: none !important;
                }
            }
        }
    }
}
