.disabled {
  pointer-events: none;
}

.opacity-0 {
  opacity: 0;
}

.gray {
  filter: grayscale(100%);
}

.input-none{  
	background:none !important;  
	outline:none !important;  
	border:none !important;
}
.input-none:focus{   
  border:none !important;
  box-shadow: none !important;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.ol-none{
  outline: none;
}
.td-none{
  text-decoration: none;
}