.user-login {
    .adm-spin-loading {
        width: 18px;
        margin-right: 5px;
    }

    .login-title {
        font-size: 18px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
    }

    input {
        font-size: 16px !important;
    }

    .adm-button {
        height: 48px !important;
        font-size: 16px;
    }

    .logo {
        color: #2c2c2c;
        font-size: 52px;
    }

    .login-back {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 6px;
        top: 20px;
        font-size: 12px;
        z-index: 13333;
    }

    .login-container {
        width: calc(100% - 60px);


        .registry {
            background-color: #EDF6FF;

            color: #2784FF;
        }

        .am-button-active {
            background-color: #b3cde7;
        }
    }

    .login-forgot {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #2784FF;
        justify-self: end;

        button {
            font-size: 14px !important;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400 !important;
            color: #2784FF;
            border: 0 !important;

            &::before {
                padding: 0 !important;
                border: none !important;
            }
        }
    }
}